<div class="d-flex flex-row justify-content-between align-items-center">
    <h2>{{title}}</h2>
    <a href="/types/edit" class="btn btn-success">Add New</a>
</div>

<div class="row">
    {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
    {{/if}}

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Title</td>
            <td class="text-center">Borrow Days</td>
            <td class="text-center">No Of Items</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {{#if isEmpty}}
            <td colspan="4" class="text-center">You don't have any types yet!</td>
        {{else}}
            {{#each types as |type|}}
                <tr>
                    <td>{{type.title}}{{#if type.description}}<br><small>{{type.description}}</small>{{/if}}</td>
                    <td class="text-center">{{type.borrowDays}}</td>
                    <td class="text-center">{{type.noOfItems}}</td>
                    <td class="text-end">
                        <a href="/types/edit/{{type._id}}" class="btn btn-sm btn-primary mr-1 mb-1">Edit</a>
                        <a class="btn btn-sm btn-danger mb-1" href="/types/delete/{{type._id}}"
                           onclick="return confirm('Do you want to delete type?')">Delete</a>
                    </td>
                </tr>
            {{/each}}
        {{/if}}
        </tbody>
    </table>
</div>